.banner {
    background: url(images/accueil.png) no-repeat;
    height: 305px;
    width: 100%;
    background-size: cover;
}

#titre {
    font-size: 40px;
    color: #929292;
}

hr {
    margin-top: -5px;
}

.btn {
    color: #717171;
}

.btn:hover {
    color: #717171;
}

.dropdown-item {
    color: #717171;
}

.star {
    color: #fff200;
}

.poster {
    margin: 0 auto;
}

.card {
    height: 530px;
 
}

.card-text {
    height: 190px;
    overflow: hidden;
}

